<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museo Skyline</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
        <link rel="stylesheet" href="/css/styleg.css">
    <style>
        
     
    </style>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">BRAYAN</a>
        <i class="fa-solid fa-bars" ></i>
		<i class="menu-icon" ></i>
		
        <nav class="navbar">
           
               <a href="index.html">Inicio</a>
               <a href="perfil.html">Perfil</a>
               <a href="historia.html">Historia</a>
               <a href="galeria.html" class="active">Galeria</a>
               <a href="nosotros.html" >Nosotros</a>
               <a href="contacto.html">Contacto</a>
           
       </nav>
    
    
    </header>

    <header class="galeria">
    <h1>Museo Skyline</h1> <!-- Título centrado -->
    <section>
        <img src="img/skyline/foto.5.jpg" alt="">
        <img src="img/skyline/galeria1.jpg" alt="">
        <img src="img/skyline/galeria3.jpg" alt="">
        <img src="img/skyline/galeria2.jpg" alt="">        
        <img src="img/skyline/galeria5.jpg" alt="">
        <img src="img/skyline/galeria4.jpg" alt="">
        
    </section>
    </header>
</body>
</html>
