<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GSAP 3D Image Slider</title>
  <link rel="stylesheet" href="/css/slider.css">
</head>
<body>

<div class="main">
  <h1 class="main_heading"></h1>
  <div class="cards">
    <div class="cards_inner">
      <div class="card"><img src="/images/jdm1.gif" alt="Image 1"></div>
      <div class="card"><img src="/images/jdm2.gif" alt="Image 2"></div>
      <div class="card"><img src="/images/jdm3.gif" alt="Image 3"></div>
      <div class="card"><img src="/images/jdm4.gif" alt="Image 4"></div>
      <div class="card"><img src="/images/jdm5.gif" alt="Image 5"></div>
	  <div class="card"><img src="/images/jdm6.jfif" alt="Image 6"></div>
	  <div class="card"><img src="/images/jdm8.gif" alt="Image 8"></div>
	  <div class="card"><img src="/images/jdm9.gif" alt="Image 9"></div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/Draggable.min.js"></script>
<script src="/js/slider.js"></script>

</body>
</html>
